.panel-wrapper {
    height: 600px;
    width: 1000px;

    background-color: rgba(255, 255, 255, 0.1); /* light transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}